<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>タイトル</title>
</head>

<body>
    <header class="site-header">
    <div>
        <ul>
            <h1>BLOG</h1>
            <nav class="header-nav">
            <a href="/blog">ホーム</a>
            <a href="/blog/new" class="btn-new">投稿</a>
            </nav>
        </ul>
    </div>
    </header>
    <form th:action="@{/saveblog}" th:object="${blog}" method="Post">
        
        <input id="taskMemo" name="title" placeholder="タイトル"></input>
        <textarea id="taskMemo" name="text" rows="4" cols="40" placeholder="新しい投稿"></textarea>
        <button type="submit" class="new">保存</button>
    </form>
    <ul>

        <a href="/blog">←ブログ一覧に戻る</a>
    </ul> 

</body>

</html>