<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログ詳細</title>
</head>
<body>
    <div>
        <ul>
            <h1>BLOG</h1>
            <a href="/blog">ホーム</a>
            <a href="/blog/new" class="btn-new">投稿</a>
            
        </ul>
    </div>
    <div>
        <h1>ブログ詳細</h1>
        
        <div>
            <h2>タイトル</h2>
            <p th:text="${blog.title}">ここにタイトルが表示されます</p>
        </div>
        
        <br>
        
        <div>
            <h2>本文</h2>
            <p th:text="${blog.text}">ここに本文が表示されます</p>
        </div>
        
        <br>
        <hr>
        <a href="/blog">← ブログ一覧に戻る</a>
    </div>
</body>
</html>